
    <div class="container card shadow bg-body-tertiary rounded position-absolute top-50 start-50 translate-middle p-3 mx-auto ">
        <h2 class="text-center mb-3">Please Sign Up </h2>
        <div class="row ">
            <form #user="ngForm" class="col">
    
                <div class="input-group mb-2">
                    <span class="input-group-text  text-white text-center">First Name</span>
                    <input type="text" placeholder="First name" class="form-control" name="firstName" [(ngModel)]="newUser.firstName" #firstName="ngModel" required [class.is-invalid]="firstName.invalid" [class.is-valid]="firstName.valid">
    
                    <div class="w-100" *ngIf="firstName.invalid">
                        <p class="text-danger">Please enter first name.</p>
                    </div>
    
                </div>
    
                <div class="input-group mb-2">
                    <span class="input-group-text  text-white text-center">Last Name</span>
                    <input type="text" placeholder="Last name" class="form-control" name="lastName" [(ngModel)]="newUser.lastName" #lastName="ngModel" required  [class.is-invalid]="lastName.invalid" [class.is-valid]="lastName.valid">
                </div>
    
                <div class="input-group mb-2">
                    <span class="input-group-text  text-white text-center">Email Id</span>
                    <input type="email" placeholder="Email address" class="form-control" name="email" [(ngModel)]="newUser.email" required #email="ngModel" [class.is-invalid]="email.invalid" [class.is-valid]="email.valid"  [email]="true">
    
                </div>
    
                <div class="input-group mb-2">
                    <span class="input-group-text  text-white text-center">Password </span>
                    <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="newUser.password" #pass="ngModel" [class.is-invalid]="pass.invalid" [class.is-valid]="pass.valid" required>
                </div>
    
                <!-- Submit button.  -->
                <div class="submit text-center">
                    <button type="submit" class="btn btn-primary" (click)="addUser()">Register</button>
                </div>
            </form>
        </div>
    </div>
    
